	/*body{ background: linear-gradient(to right, rgb(4,72,133), rgb(255,255,255));}*/
	
	body {	
		background-image: url('outils/tany_vao.png');
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-size: 100% 100vh; 
		overflow:hidden;			
	}
	#id-logo_ipm{position:absolute; width: 300px; height: 200px;left:10px;top:1px;}
	#id-logo_ipm  span{width: 330px; height: 60px;float:left;margin-left:5px; color:rgb(250,250,250);font-size:12px; }
	#gif_terre{width:220px; height:140px;margin-left:1px;}
	#id-titre_sageo{position:absolute; top: 50px; left:0px; width:100%; height:60px; text-align:center;}
	#id-titre_sageo h1{color:rgb(255,255,255);}
	
	#id_miandry{font-weight:bold;font-size:12px; color:rgb(255,255,255); display:none;}	
	/*------------animation --------------------*/
	
	#id-dos_webmapping{left:5%;}
	#id-dos_sageo{left:29%;}
	#id-dos_personnel{left:52%;}
	#id-dos_divers{left:78%;}
	
	
	.cls-nos_offres{
		width:200px; height: 200px; text-align:center;
		position:absolute;
		top:30%;
		transition: transform 1s;
		-webkit-animation-name: slideIn_nous;
		-webkit-animation-duration: 2s;
		animation-name: slideIn_nous;
		animation-duration: 2s;
		display:none;
	}
	
	@-webkit-keyframes slideIn_nous {
		from {top: 1px; opacity: 0} 
		to {top: 30%; opacity: 1}
	}

	@keyframes slideIn_nous {
		from {top: 1px; opacity: 0}
		to {top: 30%; opacity: 1}
	}
	
	
	
	#id-dos_webmapping span{font-size:22px; font-weight:bold; color:rgb(255,255,255); position:absolute; display:block; width:100%; top:30%;}
	#id-dos_sageo span{font-size:22px; font-weight:bold; color:rgb(255,255,255); position:absolute; display:block; width:100%;top:30%;}
	#id-dos_personnel span{font-size:22px; font-weight:bold; color:rgb(255,255,255); position:absolute; display:block; width:100%;top:30%;}
	#id-dos_divers span{font-size:22px; font-weight:bold; color:rgb(255,255,255); position:absolute; display:block; width:100%;top:30%;}
	/*----------------------bout menu ------------------------*/
	/*.cls-bout_menu{width:50px; height:50px;}*/
	
	
	#id-bout-cree, #id-bout-forgot{width:48%; display:block; text-align:left; margin-left: 5px; float:left;color:rgb(255,255,255); cursor:pointer;}
	
	.cls-h2{display:block; height:30px;width:100%; margin-top:10px; background:rgb(255,153,0);font-size:22px;color:rgb(255,255,255);}
	.cls-image-fermer{position:absolute;width:25px; height:25px; left:0px; top:0px; cursor:pointer;}
	.cls-image-bout{width:25px; height:25px; }
	.cls-image-tete, #id_img_login{width:80px; height:80px; cursor:pointer;}
	
	#id-bout-cree:hover, #id-bout-forgot:hover{color:rgb(255,255,153);}
	.cls-image-tete:hover, #id_img_login:hover{box-shadow: 0px 0px 150px #FFFFFF;}
	
/*------------------------pour boutlogin -------------------------------*/	
	
	
		#div_myModal_login, #div_myModal_inscrit, #div_myModal_oublie{
			position: fixed; 
			top:0px;
			left:0px;
			width: 100%; 
			height: 100%; 
			background-color: rgb(0,0,0); /* Fallback color */
			background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			z-index :11; 
			padding-top:50px;
			display:none;
		}	
		
		#div_container, #div_container_inscrit, #div_container_oublie {
			position:relative;
				width:400px;
				
				text-align:center;
				border: 1px solid gray; border-radius: 5px;
				-moz-box-shadow: 5px 5px 5px grey;
				-webkit-box-shadow: 5px 5px 5px grey;
				box-shadow: 5px 5px 5px grey;
				background:rgb(15,59,91);}	
				
		#div_container {margin: 150px auto; height:350px;}
		#div_container_inscrit{margin: 50px auto; height:530px;}	
		#div_container_oublie{margin: 150px auto; height:250px;}		
				
		#id-bout_login, #id-bout_inscrit, #Id_bout_verifie_mail, #id-bout_oublie{margin: 0px auto; cursor:pointer; width:80%;}	
		
#id_SpinEvents{width:50px; height:50px; margin-left:100px; z-index:120; display:none;}			