body{overflow-x:hidden;}

#id-top{position:fixed;width:100%; height:50px; left:0px;top:px;
background:rgb(4,185,206);
 /*background-image: linear-gradient(to right, rgb(248,224,187), rgb(250,100,0), orange, red,  yellow, green, blue, indigo, violet);*/
 background-image: linear-gradient(to right, rgb(255,255,255), rgb(4,185,206));
z-index:10;
}
#id-corps_gauche{
				position:fixed;
				width:15%; height:100vh; left:0px; top: 0px;float:left;
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
				-moz-box-shadow: 0px 0px 150px #FF6600;
				-webkit-box-shadow: 0px 0px 150px #FF6600;
				box-shadow: 0px 0px 150px #FF6600;
				background:rgb(250,100,0);
				/*background-image: linear-gradient(to bottom, rgb(248,224,187), rgb(250,100,0), orange, red,  yellow, green, blue, indigo,  rgb(27,133,133), violet);*/
				z-index:9;}
#id-corps{
		position:fixed;
		width:84%; height:85vh; left:15%; top: 50px;
		/*overflow-y:auto;
		background:rgb(201,201,201);
		border: 2px solid gray;*/
	}
#id-frm_clients{width:100%;height:100%;}
			
#id-vodiny{position:fixed;width:100%; height:50px; float:left;left:0px; bottom:0px; 
			z-index:10;
			background:rgb(27,133,133);
			/*background:violet;*/}
			
.cls-span-vodiny{cursor:pointer;}
.cls-image-gauche{width:200px; height:150px;
					margin-left:1px;margin-top:60px;}
.cls-image-bouton{width:35px; height:35px; margin-top:-5px;}			
#id-image-logo{width:100px; height:50px; margin-top:0px; margin-left:0px;}
#id-image-login{width:40px; height:40px; position:fixed;top:5px; right:100px;}
#id-image-mividy{width:40px; height:40px; position:fixed;top:5px; right:250px;}
#id-image-aiza{width:32px; height:48px; position:fixed;top:1px; right:5px;}
#id-span_isany{
			position:fixed;
			display:block;
			top:5px; right:225px;
			padding-left:5px;
			width:40px;height:25px;
			color:rgb(255,255,255);font-size:20px;
			cursor:pointer;
			}					
			
			
#id-bout_Acceuil, #id-bout_Explorer, #id-bout_Commander{
				width: 170px; 
				height:40px;
				margin-left:10px; 
				margin-top:10px;
				float:left;
				text-align:left;
				-moz-box-shadow: 7px 5px 5px grey;
				-webkit-box-shadow: 7px 5px 5px grey;
				box-shadow: 7px 5px 5px grey;}			


#id-porteur_menu{
				position:fixed;
				width:20%; height:100vh; left:0px; top: 0px;float:left;
				border-top-right-radius: 50%;
				border-bottom-right-radius: 50%;
				z-index:8;
				display:none;
				/*
				background-image: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
				background-image: repeating-radial-gradient(red, yellow, green, blue, indigo, violet, orange );
				-moz-box-shadow: 0px 0px 150px #FF6600;
				-webkit-box-shadow: 0px 0px 150px #FF6600;
				box-shadow: 0px 0px 150px #FF6600;
				*/
				}

.cls-image-rond{width:30px; height:30px;}
.circle-container {
	position: relative;
	width:100%; height:100%; 
	border-radius: 50%;
	padding: 0;
	list-style: none;
	margin: 0 auto 0; /*0.2em auto 0;*/
	
}

.circle-container > * {
  display: block;
  position: absolute;
  /*top: 50%;left: 50%;margin: -3em;*/
  top: 50%;left: 50%;margin: -2em;
  width: auto; height: 6em;
  display:none;
}
.circle-container > *:nth-of-type(11){
  -webkit-transform: rotate(285deg) translate(20em) rotate(-285deg);
          transform: rotate(285deg) translate(20em) rotate(-285deg);
}
.circle-container > *:nth-of-type(1){
  -webkit-transform: rotate(295deg) translate(17em) rotate(-295deg);
          transform: rotate(295deg) translate(17em) rotate(-295deg);
}
.circle-container > *:nth-of-type(2) {
  -webkit-transform: rotate(305deg) translate(15em) rotate(-305deg);
          transform: rotate(305deg) translate(15em) rotate(-305deg);
}
.circle-container > *:nth-of-type(3) {
  -webkit-transform: rotate(315deg) translate(12.5em) rotate(-315deg);
          transform: rotate(315deg) translate(12.5em) rotate(-315deg);
}

.circle-container > *:nth-of-type(4) {
  -webkit-transform: rotate(335deg) translate(11em) rotate(-335deg);
          transform: rotate(335deg) translate(11em) rotate(-335deg);
}

.circle-container > *:nth-of-type(5){
  -webkit-transform: rotate(355deg) translate(10em) rotate(-355deg);
          transform: rotate(355deg) translate(10em) rotate(-355deg);
}
.circle-container > *:nth-of-type(6) {
  -webkit-transform: rotate(15deg) translate(10.5m) rotate(-15deg);
          transform: rotate(15deg) translate(10.5em) rotate(-15deg);
}

.circle-container > *:nth-of-type(7) {
  -webkit-transform: rotate(35deg) translate(12em) rotate(-35deg);
          transform: rotate(35deg) translate(12em) rotate(-35deg);
}

.circle-container > *:nth-of-type(8) {
  -webkit-transform: rotate(50deg) translate(14em) rotate(-50deg);
          transform: rotate(50deg) translate(14em) rotate(-50deg);
}
.circle-container > *:nth-of-type(9) {
  -webkit-transform: rotate(60deg) translate(17em) rotate(-60deg);
          transform: rotate(60deg) translate(17em) rotate(-60deg);
}
.circle-container > *:nth-of-type(10) {
  -webkit-transform: rotate(70deg) translate(20em) rotate(-70deg);
          transform: rotate(70deg) translate(20em) rotate(-70deg);
}
.cls-article{
	display:block;
	width:auto; height:40px;
	padding:-5px;
	color:rgb(102,102,102);
	font-weight:bold;
	font-size:14px;
}
.cls-article:hover{
	border: 1px solid;
	border-radius: 4px;
	box-shadow: 5px 10px 20px red inset;
}
/*--------------------triage -------------------*/
#id-div_bloc_trie{
	position:relative;
	top: 120px; left:10px;
	width:170px;
	height:170px;
	/*display:none;*/
	
}
.span_trie{
	position:absolute;
	top:0px;
	left :0px;
	display:block;
	width:100%; height:25px; 
	text-align:center;
	width:100%; height:25px;
	background: rgb(192,192,192);
	font-size: 13px;    
    border: none;
    outline: none;
    color: white;
	
	/*
	background-color: inherit;
    font-family: inherit;
	cursor:pointer;
	*/}
.cls-label_trie{
	position:absolute; 
	color:rgb(255,255,255);
	font-size: 12px;
	}
#id-label_trie_score{top:30px; left:1px;}	
#id-label_trie_prix{top:60px; left:1px;}
#id-label_trie_promotion{top:95px; left:1px;}	

.cls-div_trie  {
	position:absolute;
	overflow:hidden;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 1px 1px 11px #330033;
	cursor:pointer;
  }
 #id-div_trie_score{width:120px;	margin-left:44px; margin-top:5px;background: rgb(27,133,133) url("../../tools/15xvbd5.png") no-repeat scroll 95px center;}
 #id-div_trie_prix{width:120px;	margin-left:44px; margin-top:40px;background: rgb(27,133,133) url("../../tools/15xvbd5.png") no-repeat scroll 95px center;}
 #id-div_trie_promotion{width:90px;	margin-left:74px; margin-top:75px;background: rgb(27,133,133) url("../../tools/15xvbd5.png") no-repeat scroll 65px center;}
 
.cls-div_trie select {
   border: 0;
   color: rgb(255,255,255);/*#EEE;*/
   background: transparent;
   font-size: 10px;
   padding: 2px 10px;
   width: 120px;
   *width: 100px;
   *background: #58B14C;
   -webkit-appearance: none;
   cursor:pointer;
}
#id-bout_Trier{
	position:absolute;top:135px; left:1px;width:100%; height:40px;
	text-align:left;
	-moz-box-shadow: 7px 5px 5px grey;
	-webkit-box-shadow: 7px 5px 5px grey;
	box-shadow: 7px 5px 5px grey;
}
.cls-img_trie_option{width:20px; height:20px;}
 /*-----------------bloc profil ---------------*/ 
 #id-lohany-user{
	position:fixed;
	top:55px; right:210px;
	width:200px; height: 120px; 
	border: 1px solid gray; border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
	transition: transform 1s;
	font-family: Arial; z-index:5;
	padding-left:5px; padding:top:5px;
	background:rgb(27,133,133);
	display:none;
	}
#id-span_login{
	position:fixed;
	display:block;
	top:25px; right:5px;
	padding-left:5px;
	width:100px;height:25px;
	color:rgb(255,255,255);font-size:14px;
}


.cls-image-profile{width:60px; height:60px;}	
.span-profile{
	display:block;
	width:100%; height:25px; float:left;
	font-size: 13px;    
    border: none;
    outline: none;
    color: white;
	margin-top:5px;
	background-color: inherit;
    font-family: inherit;
	cursor:pointer;
}
.span-profile:hover {
    color: red;
}

/*-----------------------------------------------------modal , Container --------------------*/
#div_myModal_inscrit, #div_myModal_login, #id_div-myModal_facture{
	position: fixed; 
	top:0px;
	left:0px;
	width: 100%; 
	height: 100%; 
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	z-index :11; 
	padding-top:50px;
	margin: 0 auto;
	display:none;
}	
#div_container_inscrit,#div_container {
	position:relative;
	
	text-align:center;
	border: 1px solid gray; 
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
	padding-bottom: 10px;
}
#div_elem_form{
	width:400px;
	height:100%;
	background:rgb(27,133,133);
	padding: 5px;
	overflow-y:auto;
}
#div_container_inscrit {width:400px;height:70%;margin: 0 auto;}
#div_container {width:400px;height:300px;background:rgb(27,133,133);margin: 50px auto;}

/*---------------facture -----------------------------*/
#id-articles-Showfacture{
	position:relative;
	width:650px; height:auto; /* 550px;*/
	margin: -10px auto; 
	border: 1px solid gray; border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
	background:rgb(159,80,0); /*rgb(15,59,91);*/
}
#id-boutShowfacture_fermer{position:absolute; left:-2px; top:-2px;}

#id-articles-Showfacture_details
{
	width:650px; height:auto; /*520px; */
	margin-top: 25px;
	padding-left:5px;padding-bottom:10px;
	color:rgb(255,255,255);
	overflow:hidden;
}	
/*--------commun-------------*/
.cls-image-bout{width:25px; height:25px; cursor:pointer; }
.cls-image-tete, #id_img_login{width:80px; height:80px; cursor:pointer;margin-top:-5px; border-radius:50%;}
.cls-image-fermer{z-index:100; position:absolute;width:25px; height:25px; left:0px; top:0px; cursor:pointer;}
.cls-h2{z-index:100; display:block;  height:30px;width:100%; background:rgb(0,102,0);font-size:22px;color:rgb(255,255,255);}
#id-h2_login{margin-top:-10px; }
#id-h2{margin-top:-20px; }
#id-bout_login{width:300px; margin-left:50px;margin-top:-10px;}
#id-bout_inscrit{width:300px; margin-left:50px;margin-top:-30px;}

/*--------------------------inscriptions------------------------------*/	
#id-frm_Inscription{margin-top: -20px;}
.cls-label_form{display:block; text-align:left; font-size:12px; weight: 20px; color:rgb(255,255,255);}	
.cls-photo_couverture{
	margin-top:0px;
	width:100%; 
	height:80px;
	z-index:10;
}
.cls-image-tete_update {
	margin-top:-130px;
	width:80px; 
	height:80px; 
	border-radius:50%;
}
.cls-NoPhoto{width:20px; height:20px;position:absolute;cursor:pointer;z-index:10;display:none;}
#id_NoPhoto_profile{left:48%;top:63px;}
#id_NoPhoto_cover{right:40px;top:15px;}	

#id-divbout_photoCouverture, #id-divbout_photoMoi{
	position:absolute;
	width: 33px; height:32px; 
	font-size:15px; 
	cursor:pointer;
	color:rgb(255,255,255);}
	
#id-divbout_photoCouverture{right:5px;top:1px;}	
#id-divbout_photoMoi{left:57%;top:50px;}	
	
#id-divbout_photoCouverture:hover, #id-divbout_photoMoi:hover{color:rgb(46,242,101);}	
#id-son_nom{text-transform:uppercase;}
#id-son_prenoms{text-transform:capitalize;}

/*-----------------------file upload piece jointe --------------------*/
.fileUpload, .fileUpload_moi {
	position: relative;
	overflow: hidden;
	margin: -1px;
}
.fileUpload input.upload, .fileUpload_moi input.upload_moi {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 12px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#id-span_required{display:block; width:100%; height:20px; margin-top:-5px;font-size:14px; color:rgb(251,133,144); 
					box-shadow: 0px 0px 150px #FFFFFF; display:none; }

/*----------------------------------vodiny---------------------------------*/
#vodiny-gauche{width:45%;height:100%; margin-top: 7px;padding-left: 10px; float:left;text-align:left; color:rgb(255,153,0);}
#vodiny-milieu{width:22%;height:100%; margin-top: 2px; float:left; text-align:center;color:rgb(255,153,0);}
#vodiny-droite {width:32%;height:100%; margin-top: 7px; float:left; text-align:right;}
/*----------------------iframe clients -----------------*/


/*-----------------timer client-----------------------*/
#countdown {
	  /*
	  position: relative;
	  margin: auto;
	  margin-top: 100px;
	  background-color: #333;*/
	  position:fixed;top:5px; right:300px;
	  height: 40px;
	  width: 40px;
	  text-align: center;
	  z-index:11;
	  display:none;
	  cursor:pointer;
	}

	#countdown-number {
	  color: white;
	  display: inline-block;
	  line-height: 40px;
	  font-size:10px;
	}

	svg {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 40px;
	  height: 40px;
	  transform: rotateY(-180deg) rotateZ(-90deg);
	}

	svg circle {
	  stroke-dasharray: 113px;
	  stroke-dashoffset: 0px;
	  stroke-linecap: round;
	  stroke-width: 2px;
	  stroke: rgb(255,102,0); /*white;*/
	  fill: none;
	  /*animation: countdown 10s linear infinite forwards;*/
	  animation: countdown 3600s linear ; /*3600s pour 1hr*/
	}

	@keyframes countdown {
	  from {
		stroke-dashoffset: 0px;
	  }
	  to {
		stroke-dashoffset: 113px;
	  }
	}
#id_spinSpinEvents{position:fixed; top:10px; left:48%; z-index:13; width:30px; height:30px; display:none;}