body{overflow-x:hidden;}
#Id_Globale{width:100%; height:95vh;}
#Idzone_Titre{position:fixed; width:100%; height:40px; top:0px;left:0px; text-align:center; z-index:3; background:rgb(150,221,178);}



#Idzone_Action{width:100%; height:auto; float:left; margin: 0 auto;}
#Idzone_reserve{width:100%; height:100px; float:left;}	
#Idzone_iframe{width:100%; height:270px; text-align:center; margin:0 auto;}
#Idzone_iframe_contents{width:90%; height:270px; text-align:center; margin:0 auto;}
.cls-div-cours{position:relative;width:300px; height:200px;float:left;  margin-top:10px; margin-left:20px;}

.cls-img_pub{width:350px; height:250px;}

#id-charger_sgbd, #id-charger_sig, #id-charger_mapping{position:absolute;bottom:49px; left:130px; z-index:10;}
#id-infos_sgbd, #id-infos_sig, #id-infos_mapping, #id-infos_linux{position:absolute;bottom:119px; left:5px; z-index:10;}


#id-zone_Meteo{
	position:absolute;
	width:360px;height:150px;
	right:1px;top:45px;
	display:none;
}	

#id-Img_meteo{
	position:absolute;
	width:50px;height:50px;
	right:50px;top:45px;
	text-align:center; 
	border-radius: 5px;
	z-index:10;
	cursor:pointer;
	/*display:none;*/
}
#IdClose_meteo{cursor:pointer; width:25px; height:25px; margin-left:-5px; margin-top: 15px; z-index:20;}
#content_slide{width:100%; height: 780px; /*400px;*/  margin: 0px auto; float:left;  text-align:center; overflow: hidden; }


.cls-bout_menu{
		display: inline-block;
		width:120px;height:35px; 
		margin-left:20px;
		z-index:100;
		color:rgb(255,255,255);
		cursor:pointer;
		font-size:12px; 
		border-radius: 5px;
		border: 1px solid grey;
		background: rgb(240,96,0);
	}
#id-img_menu{display: inline-block;
	 margin-top:-10px;
	 width:100px;height:70px; 
	 z-index:100;
 }		
	
.cls-bout_menu:hover{
	background:rgb(150,221,178);
	-moz-box-shadow: 0px 0px 150px #FFFFFF;
	-webkit-box-shadow: 0px 0px 150px #FFFFFF;
	box-shadow: 0px 0px 150px #FFFFFF;
}

#Idzone_demo{position:fixed; width:100%; height:50px; bottom:0px; left:1px;text-align:center; float:left; padding-top:5px;}	
#id-zone_Vodiny{position:fixed; width:100%; height:50px; bottom:0px;left:1px; z-index:3; background:rgb(10,120,100);}
#id-zone_Vodiny_gauche{width:20%;height:100%; margin-top: 10px;float:left;text-align:left; }
#id-zone_Vodiny_milieu{width:50%;height:100%; margin-top: -1px; float:left; text-align:center; font-size:16px;color:rgb(255,255,255); }
#id-vodiny_contact{margin-top:-1px;}
#id-zone_Vodiny_droite {width:30%;height:100%; margin-top: 10px; float:left; text-align:right;}


#small_rs{margin-right:10px;}
#small_apropos{font-size:18px; cursor:pointer; margin-left:10px; color:rgb(255,255,255);}
#small_apropos:hover{color:rgb(255,255,55);}	


.cls-dzone_Action_colonne{
	padding: 5px 5px 10px 5px; 
	width:30%;height:70%;
	overflow-y:auto;
	margin-left:2%;
	float:left;
	border-radius: 5px;
	border: 1px solid grey;
	-moz-box-shadow: 7px 5px 5px grey;
	-webkit-box-shadow: 7px 5px 5px grey;
	box-shadow: 7px 5px 5px grey;
}
	
.cls-span_titre{display:block;width:100% }	
.cls-span_titre h3 {
	  color: #062033;
	  font-size: 20px;
	  font-weight: 600;
	  margin-bottom: 25px;
	}	
.cls-dzone_Action_colonne p {
	color:rgb(132,150,176);
}

/*-----------------bloc modal works -----------------------*/
.img_close_screen{
		with:25px;
		height:25px;
		cursor:pointer;
		}		
#id-div-modal_inscrit{
		position: fixed; 
		top:0%;
		left:0%;
		width: 100%; 
		height: 100%; 
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		z-index:150;
		padding-top:50px;
		display:none;
	}
#id-div-myModal	{
		position: fixed; 
		top:0%;
		left:0%;
		width: 100%; 
		height: 100%; 
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		z-index:150;
		padding-top:50px;
		display:none;
	}
	
	#id-bloc_works{
		width:650px;height:600px;
		margin: 10px auto;
		background:rgb(255,255,255);
		border-radius: 5px;
		border: 1px solid rgba(251,246,244,0.6);
		-moz-box-shadow: 7px 5px 5px rgba(251,246,244,0.6);
		-webkit-box-shadow: 7px 5px 5px rgba(251,246,244,0.6);
		box-shadow: 7px 5px 5px rgba(251,246,244,0.6);
		/*z-index: 10;*/
	}
	#id-bloc_works_top{
		position:relative;
		width:100%;
		height:35%;
		margin-top:0px;
		margin-left:0px;
		text-align:center;
	}
	#id-bloc_works_bas{
		position:relative;
		padding-left:5px;
		width:99%;
		height:64%;
		margin-top:20px;
		margin-left:0px;
	}
	
	#id-bloc_works_h3{
		width:100%;
		margin-top:-10px;
		display:block;
		text-align:center;
	}	
	
	#id-bloc_works_top ul{
		margin-top:0px;
		padding-top:10px;
		padding-bottom:30px;
		background:rgb(0,179,189);
	}
	#id-bloc_works_top li{
		margin-left: 300px;
		margin-top:16px;
		font-size:18px;
		color:rgb(255,255,255);
		font-family:Calibri;
	}	
	
	#id-bloc_works_bas h5{
		font-size:14px;
		color:rgb(255,102,102);
		font-weight:bold;
	}
	
	#id-bloc_works_bas_p span, #id-bloc_works_bas_p2 span{
		display: block;height:25px;
		margin-top:-24px;background:rgb(0,179,189);
		
	}		
	.cls-img_bloc_works{
		position:absolute;
		-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			 transition: .15s;
		
	}		
#id-img_1{width:400px; height:230px; left:110px;top:5px;z-index:2;}	
#id-img_2{width:250px; height:120px;left:5px;top:100px;}	
#id-img_3{width:250px; height:120px;right:5px;top:100px;}
.cls-img_intro{width:200px; height:120px; position:absolute; right:1px;top:5px;}	
		
#id-img_1:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
	box-shadow: 0px 0px 150px #000000;
	-webkit-transition: all 900ms ease-in;
	-webkit-transform: scale(2,2) translate(-8%, 10%);
	-ms-transition: all 900ms ease-in;
	-ms-transform: scale(2,2) translate(-8%, 10%);   
	-moz-transition: all 900ms ease-in;
	-moz-transform: scale(2,2) translate(-8%, 10%);
	transition: all 900ms ease-in;
	transform: scale(2,2) translate(-8%, 10%);
	z-index: 2;
}
#id-img_2:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
	box-shadow: 0px 0px 150px #000000;
	-webkit-transition: all 900ms ease-in;
	-webkit-transform: scale(4,4) translate(15%, 10%);
	-ms-transition: all 900ms ease-in;
	-ms-transform: scale(4,4) translate(15%, 10%);   
	-moz-transition: all 900ms ease-in;
	-moz-transform: scale(4,4) translate(15%, 10%);
	transition: all 900ms ease-in;
	transform: scale(4,4) translate(15%, 10%);
	z-index: 2;
}
#id-img_3:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
	box-shadow: 0px 0px 150px #000000;
	-webkit-transition: all 900ms ease-in;
	-webkit-transform: scale(4,4) translate(-15%, 10%);
	-ms-transition: all 900ms ease-in;
	-ms-transform: scale(4,4) translate(-15%, 10%);   
	-moz-transition: all 900ms ease-in;
	-moz-transform: scale(4,4) translate(-15%, 10%);
	transition: all 900ms ease-in;
	transform: scale(4,4) translate(-15%, 10%);
	z-index: 2;
}
.cls-img_intro:hover {
	-webkit-filter: grayscale(0);
    filter: grayscale(0);
	box-shadow: 0px 0px 150px #000000;
	-webkit-transition: all 900ms ease-in;
	-webkit-transform: scale(4,4) translate(-15%, 10%);
	-ms-transition: all 900ms ease-in;
	-ms-transform: scale(4,4) translate(-15%, 10%);   
	-moz-transition: all 900ms ease-in;
	-moz-transform: scale(4,4) translate(-15%, 10%);
	transition: all 900ms ease-in;
	transform: scale(4,4) translate(-15%, 10%);
	z-index: 2;
}

