.circle-container {
  position: relative;
  /*width: 20em;height: 20em;*/
  width:200px ; height: 200px;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 0 auto 0; /*0.2em auto 0;*/
 
	-moz-box-shadow: 5px 5px 5px grey;
	-webkit-box-shadow: 5px 5px 5px grey;
	box-shadow: 5px 5px 5px grey;
}

#circle-container_webmapping { border: solid 5px tomato;}
#circle-container_sageo { border: solid 5px blue;}
#circle-container_personnel { border: solid 5px #33CC00;}
#circle-container_divers { border: solid 5px red;}
/*---image avy */
.circle-container > * {
  display: block;
  position: absolute;
  /*top: 50%;left: 50%;margin: -3em;*/
  top: 50%;left: 50%;margin: -2em;
  width: 6em; height: 6em;
}

#circle-container_webmapping > *:nth-of-type(1), #circle-container_sageo> *:nth-of-type(1){
  -webkit-transform: rotate(0deg) translate(6em) rotate(0deg);
          transform: rotate(0deg) translate(6em) rotate(0deg);
}
#circle-container_webmapping > *:nth-of-type(2), #circle-container_sageo> *:nth-of-type(2) {
  -webkit-transform: rotate(51.4deg) translate(6em) rotate(-51.4deg);
          transform: rotate(51.4deg) translate(6em) rotate(-51.4deg);
  
}

#circle-container_webmapping > *:nth-of-type(3), #circle-container_sageo> *:nth-of-type(3) {
  -webkit-transform: rotate(102.8deg) translate(6em) rotate(-102.8deg);
          transform: rotate(102.8deg) translate(6em) rotate(-102.8deg);
  
}
#circle-container_webmapping > *:nth-of-type(4), #circle-container_sageo> *:nth-of-type(4) {
  -webkit-transform: rotate(154.2deg) translate(6em) rotate(-154.2deg);
          transform: rotate(154.2deg) translate(6em) rotate(-154.2deg);
  
}
#circle-container_webmapping > *:nth-of-type(5), #circle-container_sageo> *:nth-of-type(5) {
  -webkit-transform: rotate(205.6deg) translate(6em) rotate(-205.6deg);
          transform: rotate(205.6deg) translate(6em) rotate(-205.6deg);
  
}

#circle-container_webmapping > *:nth-of-type(6), #circle-container_sageo> *:nth-of-type(6) {
  -webkit-transform: rotate(257deg) translate(6em) rotate(-257deg);
          transform: rotate(257deg) translate(6em) rotate(-257deg);
  
}
#circle-container_webmapping > *:nth-of-type(7), #circle-container_sageo> *:nth-of-type(7) {
  -webkit-transform: rotate(308deg) translate(6em) rotate(-308deg);
          transform: rotate(308deg) translate(6em) rotate(-308deg);
  
}

#circle-container_personnel > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(6em) rotate(0deg);
          transform: rotate(0deg) translate(6em) rotate(0deg);
}

#circle-container_personnel > *:nth-of-type(2) {
  -webkit-transform: rotate(60deg) translate(6em) rotate(-60deg);
          transform: rotate(60deg) translate(6em) rotate(-60deg);
}

#circle-container_personnel > *:nth-of-type(3) {
  -webkit-transform: rotate(120deg) translate(6em) rotate(-120deg);
          transform: rotate(120deg) translate(6em) rotate(-120deg);
}

#circle-container_personnel > *:nth-of-type(4) {
  -webkit-transform: rotate(180deg) translate(6em) rotate(-180deg);
          transform: rotate(180deg) translate(6em) rotate(-180deg);
}
#circle-container_personnel > *:nth-of-type(5) {
  -webkit-transform: rotate(240deg) translate(6em) rotate(-240deg);
          transform: rotate(240deg) translate(6em) rotate(-240deg);
}

#circle-container_personnel > *:nth-of-type(6) {
  -webkit-transform: rotate(300deg) translate(6em) rotate(-300deg);
          transform: rotate(300deg) translate(6em) rotate(-300deg);
}

#circle-container_divers > *:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(6em) rotate(0deg);
          transform: rotate(0deg) translate(6em) rotate(0deg);
}

#circle-container_divers > *:nth-of-type(2) {
  -webkit-transform: rotate(180deg) translate(6em) rotate(-180deg);
          transform: rotate(180deg) translate(6em) rotate(-180deg);
}
#circle-container_divers > *:nth-of-type(3) {
  -webkit-transform: rotate(100deg) translate(6em) rotate(-100deg);
          transform: rotate(100deg) translate(6em) rotate(-100deg);
}

.circle-container img {
  display: block;
  cursor:pointer;
 width: 80px; height:80px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
 transition: .15s;
}
.circle-container img:hover {
  -webkit-filter: grayscale(0);
     filter: grayscale(0);
	box-shadow: 0px 0px 150px #000000;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(2);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(2);   
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(2);
	transition: all 200ms ease-in;
	transform: scale(2);
	z-index: 2;
}
